@font-face {
  font-family: 'kiona';
  src: url('/src/assets/typo/Kiona-Regular.ttf') format('ttf');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'kiona-italic';
  src: url('/src/assets/typo/Kiona-Itallic.ttf') format('ttf');
  font-weight: bold;
  font-style: italic;
}